section{
	padding: 30px;
	div{
		max-width: 760px;
			span{
				font-family: "FontAwesome";
			}
	}

	&:nth-child(odd) {
		color: $text-color-rv;
		background-color: $section-bg-rv;
		// background-image: url("../images/stardust.png");
	}
	&:nth-child(even) {
		color: $text-color;
		background-color: $section-bg;
		// background-image: url("../images/green_dust_scratch.png");
	}
	.bubble{
		@extend .cntr-vertically-col;
		background-color: #028090;
		border-radius: 100%;
		width: 150px;
		height: 150px;
		a{
			color: $gold-white;
		}
		&:hover{
			background-color: #7C1E3F;
		}
		.show-details{
			background-color: #028090;
		}
	}
}

footer{
	@extend .cntr-vertically-col;
	background-color: $nav-bg;
	font-family: OpenSans, sans-serif;
	color: #13E5BB;
	height: 40px;
}