// $ sass app/styles/main.scss public/CSS/style.css

// Variables
$main-color: rgb(61,192,184);
$nav-bg: #000000;
$heading-bg-color: rgba(0,9,0,.5);
$hover: rgba(60,192,154,.9);
$section-bg: rgba(60,60,60,.3);
$odd-sections: rgba(61,182,184,.5);
$even-sections: rgba(0,18,14,.5);
$error: #FF0a40;

// Fonts
$heading-font: 'Poiret One', cursive;
$sub-heading-font: 'Arima Madurai', cursive;
$paragraph-font: 'Open Sans', sans-serif;
// $sub-heading-font:'Amaranth', sans-serif;

@import 'nav';
@import 'sections';

body, li, div, section, nav, h1, h2, h3, ul, ol{
	padding: 0;
	margin: 0;
}
.container{
	min-width: 350px;
	width: 100vw;
	margin: 0 auto;
}
.cntr-vertically-col{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*------ FONTS -----*/
h1, h2, h3{
	font-size: 26pt;
	text-align: center;
}
h2{font-size: 22pt;}
h3{font-size: 18pt;}
p{font-size: 16pt;}
small{color: $error; font-size: 10pt;}

.title{
	font-family: $heading-font;
}
.subtitle{
	font-family: $sub-heading-font;
}
p, li{
	font-family: $paragraph-font;
}
/*--- Content -----*/

.showDetails{
	display: none; /* change later to left: -1000*/
}
/**Extras :) */
@-ms-viewport{
  width: device-width;
}
/*Debugging*/
.border{
border: 1px solid green;
}
// @media screenwidth(720px)