$color-text: #ffffff;
$bg: #28373a;
$white-panel: #bfe5ec42;
$nav-margin: 40px;

body {
  font-family: sans-serif;
  background-color: $bg;
  color: $color-text;
  background-image: url("../img/dark_wood/dark_wood_@2X.png");
  // background-image: url("../img/unsplash-image-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 58px;
}

main {
  background-color: $white-panel;
  width: 90%;
  height: 600px;
  width: 70%;
  margin: 0 auto;
  padding: 30px
}

header {
  height: 50px;
  // border: 2px solid #ffffff;
}

nav {
  width: calc(100% - #{$nav-margin * 2});
  margin: 0px $nav-margin;
  display: flex;
  justify-content: space-between;
  line-height: 3em;
} 

ul {
  margin: 0px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

li {
  // margin: 0px 15px;
  justify-content: space-evenly;
  align-items: stretch;
  list-style: none;
}

a {
 text-decoration: none; 
}

a:link {
  color: #ffffff;
}

a:hover, a:active {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

.intro {

}