body {
    color: #FFF;
    background-color: #38544f;
    width: 95%;
    margin: auto;
}

.intro {
    width: 90%;
    padding: 20px;
    margin: 10px;
    background: black;
}

.socials a {
    margin: 15px;
}

.socials a:hover {
    border: 1px solid white;
}