html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 650px;
    margin: 0;
    color: #000;
    background-color: #E8C79C;

    margin-top: 75px; /* padding for nav bar */
}

nav {
    height: 75px;
    width: 100%;
    color: #FFF;
    background-color: #1a0f11;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

li {
    padding: 0 25px;
}

.content {
    width: 65%;
    margin: 0 auto;
}

.intro {
    padding: 20px;
}

iframe {
    width: 100%;
    min-height: 500px;
}

.socials a{
    margin: 15px;
}

.socials a:hover {
    border: 1px solid white;
}

.socials {
    margin-top: 30px;
}

footer {
    height: 100px;
    padding-top: 35px;
}

/* Other BG colors
    background-color: #a7a0b2;
    background-color: #6b7f82;
    background-color: #B18981;
    background-color: #2a1d23;
*/