---
layout: base.njk
title: About Me
---

<div class="intro">
  <p> Hi there! 
    My name is Alma, I'm a first generation college graduate with a BS in Computer Science from American University. I love working with JavaScript and learning more about UI/UX in order to provide a pleasant experience when creating websites.
    
    Some of my hobbies include calligraphy, drawing, exploring new music and watching organization/lifestyle videos on youtube. 
    </p>

</div>

